nyan /* dont touch, its the parent of the Win.raw function */ {}

.region {
	display: block;
	xbackground: grey;
	xborder: 1px solid lightgray;
	xpadding: 4px;
}

.small {
	width: 300px;
}

/* <a><p> collapser */

a.foo {
	display: block;
	margin-bottom: 1px;
	xbackground: rgba(53, 53, 53, 0.5);
	text-decoration: none;
	cursor: pointer;
}

a.foo > span {
	float: right;
	margin-right: 2em;
}

a.foo > span:after {
	content: "⇒"; } /* ⇒ ⮩ */
a.foo.toggle > span:after { /* ⇓ ⮯ */
	content: "⇓";}


p.bar {
	display: none;
	margin: 0;
	xbackground: gray;
}

p.bar.toggle {
	display: block;
}

/* woo */