/*
style95.css has only essential rules; use style2.css for styling
*/

nyan /* a workaround. the parent of the Win.raw function. expected to break some browsers */ {}


.region {
	display: block;
}

.marked {
}

.small {
	width: 300px;
}

key {
    display: inline-block;
}

/* begin of <a><div> */

a.foo {
	display: block;
}

div.bar {
	display: none;
}

a.foo > span {
	float: right; }

a.foo > span:after {
	content: "+"; } /* \2192 */

a.foo.toggle > span:after {
	content: "-";} /* \2193 */

div.bar.toggle {
	display: block;
}

/* end of <a><div> */

/* begin of <div><span><span> */

/* https://www.springhole.net/writing_roleplaying_randomators/magicitemgenerator2.htm */

div.rpgitem {
	display: inline-block;
}

div.rpgitem > span:first-child {
	display: block;
}

div.rpgitem > span:nth-child(2) {
	display: block;
}

/* end of <div><span><span> */


/* begin of cornerbox */

div.cornerbox {
	display: inline-block;
}

div.cornerbox > span:first-child {
	display: block;
}

div.cornerbox > span:nth-child(2) {
	display: block;
}

/* end of cornerbox */
